*{
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* Header and nav styles */
.header{
  background-color: #FFF8F3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 200px;
}
.nav-title{
  font-weight: 800;
  font-size: 45px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin: 50px;
}
.text-primary{
  color: #fd6e0a;
}
.btn-primary{
  height: 64px;
  font-weight: 700;
  font-size: 20px;
  border: none;
  padding: 18px 35px;
  background-color: #fd6e0a;
  border-radius: 5px;
  color: #FFFFFF;
}

/* Banner styles */
.banner{
  display: flex;
  align-items: center;
  margin: 0px 200px;
}
.banner-title{
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}
.banner-sub{
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 5px;
}
.banner-description{
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}

/* Main section styles */
main{
  max-width: 1140px;
  margin: 0 auto;

}
/* About section styles */
.about{
  margin-top: 130px;
  background: #FFF8F3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.section-title{
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  text-align: center;
}
.section-description{
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
.about-container{
  display: flex;
  justify-content: space-around;
}
.about .info-title{
  font-size: 20px;
  color: #757575;
}
.about .info-description{
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}

/* Skill section styles */
.skills{
  margin-top: 130px;
}
.section-title{
  font-weight: 700;
  font-size: 35px;
  margin-top: 130px;
  color: #181818;
  text-align: center;
}
.section-description{
  margin-top: 30px;
  margin-bottom: 50px;
  color: #757575;
  text-align: center;
}
.skill-container{
  display: flex;
  gap: 24px;
}
.skill{
  background: #FFFFFF;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.skill-title{
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
